{:paths ["src"]

 :deps {instaparse/instaparse {:mvn/version "1.5.0"}
        babashka/process {:mvn/version "0.6.23"}}

 :aliases {:build
           {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                   slipset/deps-deploy {:mvn/version "0.2.2"}}
            :ns-default build}}
 }
